@import 'assets/styles';

.TrainEntry {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;

  cursor: pointer;
  background-color: $gray3;

  .block {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    gap: 8px;
    padding: 16px;

    border-radius: 8px;
    background-color: $gray1;
  }

  .value {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
  }
}
