$dark: #323232;
$white: #fff;

$gray1: #eeeeee;
$gray2: #dddddd;
$gray3: #cccccc;
$gray4: #aaaaaa;
$gray5: #888888;
$gray6: #666666;
$gray7: #474747;

$primary: #3c77ce;
// $secondary: #b13ce8;

$health: #4169e1;
$shopping: #cc2c49;
$fixed: #732ea6;
$rest: #e29d36;
